<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Погодная статистика</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{% static 'css/statistics_style.css' %}" type="text/css">      
</head>
<body>
    <div class="statistics-block"> 
        <div class="temperature-block">
            <header class="temperature-header"> Температурные характеристики</header>
            <ul class="temperature-content">
                <li>Абсолютный минимум за период: {{temperature_statistics.abs_min}}</li>
                <li>Cредняя температура: {{temperature_statistics.avg_temperature}}</li>
                <li>Абсолютный максимум за период: {{temperature_statistics.abs_max}}</li>
            </ul>
        </div>
        <div class="precipation-block">
            <header class="precipation-header"> Информация об осадках</header>
            <ul class="precipation-content">
                <li>Процент числа дней с осадками: {{precipation_statistics.percentage_of_days_with_precipitation}}%</li>
                <li>Процент числа дней без осадков: {{precipation_statistics.percentage_of_days_without_precipitation}}%</li>
                <li>Самый частый вид осадков: {{precipation_statistics.frequent_precipation}}</li>
                <li>Второй самый частый вид осадков: {{precipation_statistics.second_frequent_precipation}}</li>
            </ul>
        </div>
        <div class="wind-block">
            <header class="wind-header"> Информация о ветре</header>
            <ul class="wind-content">
                <li>Самое частое направление ветра: {{wind_statistics.frequent_direction}}</li>
                <li>Средняя скорость ветра: {{wind_statistics.avg_wind_speed}}</li>
            </ul>
        </div>
    </div>
</body>

