<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Погодная статистика</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="css/bootstrap.min.css" >
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">     
</head>

<body>
        {% block content %}

        {% endblock content %}

    <form action="../forms.py" method="POST">
        {% csrf_token %}
        <div class="w3-row-padding menu">
            <div class="w3-third">
                <select class="w3-select choose-city" id="city" name="option" required>
                    <option value="" disabled selected>Выберите город</option>
                    <option value="Санкт-Петербург">Санкт-Петербург</option>
                    <option value="Москва">Москва</option>
                    <option value="Челябинск">Челябинск</option>
                    <option value="Екатеринбург">Екатеринбург</option>
                    <option value="Владивосток">Владивосток</option>
                    <option value="Нижний Новгород">Нижний Новгород</option>
                </select>
            </div>
            <div class="w3-third">        	
                <input type="date" class="form-control calendar period_start" id="period_start" name="period_start" placeholder="Дата" required>
            </div>
            <div class="w3-third">        	
                <input type="date" class="form-control calendar period_end" id="period_end" name="period_end" placeholder="Дата" required>
            </div>
        </div>
        <button data-target="#myModal" type="submit" class="btn btn-success btn-lg btn-block" data-toggle="modal"> Показать статистику</button> 
    </form>
    

</body>


