{% extends "wrapper.html" %}

{% block content %}
<body>
    <form action="../forms.py" method="POST">
        {% csrf_token %}
        <div class="w3-row-padding menu">
            <div class="w3-third">
                <select class="w3-select choose-city" id="city" name="option">
                    <option value="" disabled selected>Выберите город</option>
                    <option value="Санкт-Петербург">Санкт-Петербург</option>
                    <option value="Москва">Москва</option>
                    <option value="Челябинск">Челябинск</option>
                </select>
            </div>
            <div class="w3-third">        	
                <input type="date" class="form-control calendar period_start" id="period_start" name="period_start" placeholder="Дата" required>
            </div>
            <div class="w3-third">        	
                <input type="date" class="form-control calendar period_end" id="period_end" name="period_end" placeholder="Дата" required>
            </div>
        </div>
        <button type="submit" class="btn btn-success btn-lg btn-block"> Показать статистику</button> 
    </form>
    
</body>
{% endblock content %}

