body {
    background-image: url(../img/background2.jpg);
    background-size: 100%;
}

.btn-success{
    margin-top: 1.5%;
    margin-left: 2%;
    width: 40%;
}

.menu{
    margin-top: 23%;
    margin-left: 1%;
    width: 42%;
}

.choose-city{
    border-radius: 5px; 
}

.calendar{
    size: 10%;
    height: 4.8ex;
}

