@import url('https://fonts.googleapis.com/css?family=Prata&display=swap');


body {
    background-image: url(../img/forest.jpg); 
}

.statistics-block{
    background: #BDBEA9;
    opacity: 0.8;
    padding: 20px 40px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin-left: 20%;
    margin-top: 2%;
    width: 60%;
    border-radius: 15px;
}

.temperature-header {
    opacity: 1;
    text-align: center;
    font-size: 1em;
    line-height: 40px;
    font-weight: bold;
    font-family: 'Prata', serif;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
    position: relative;
    color: #058E53;
  }

  .temperature-content {
    font-size: 0.7em;
    opacity: 1;
    margin-top: 2%;
    list-style: none;
    border-left: 10px solid #058E53;
    padding: 0;
    font-family: "Lucida Sans";
    
  }

.temperature-content li {
    padding: 10px;
}

.temperature-content li:nth-child(odd) {
    background: white;
}

.temperature-content li:nth-child(even) {
    background: #8DB38B;
}

.precipation-header {
    opacity: 1;
    text-align: center;
    font-size: 1em;
    line-height: 40px;
    font-weight: bold;
    font-family: 'Prata', serif;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
    position: relative;
    color: #058E53;
  }

  .precipation-content {
    opacity: 1;
    font-size: 0.7em;
    margin-top: 2%;
    list-style: none;
    border-left: 10px solid #058E53;
    padding: 0;
    font-family: "Lucida Sans";
  }

.precipation-content li {
    padding: 10px;

}

.precipation-content li:nth-child(odd) {
    background: white;
}

.precipation-content li:nth-child(even) {
    background: #8DB38B;
}

.wind-header {
    opacity: 1;
    text-align: center;
    font-size: 1em;
    line-height: 40px;
    font-weight: bold;
    font-family: 'Prata', serif;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
    position: relative;
    color: #058E53;
  }

  .wind-content {
    font-size: 0.7em;
    opacity: 1;
    margin-top: 2%;
    list-style: none;
    border-left: 10px solid #058E53;
    padding: 0;
    font-family: "Lucida Sans";
  }

.wind-content li {
    padding: 10px;

}

.wind-content li:nth-child(odd) {
    background: white;
}

.wind-content li:nth-child(even) {
    background: #8DB38B;
}